@model List<MvcCv.Models.Entity.TblYeteneklerim>
@{ 
    string renk = "";
    string labelrenk = "";
}

<div class="resume-section-content">
    <h2 class="mb-5">Yeteneklerim</h2>
    <div class="subheading mb-3">Programlama Dilleri & Araclar</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
        <li class="list-inline-item"><i class="fab fa-react"></i></li>
        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
        <li class="list-inline-item"><i class="fab fa-sass"></i></li>
        <li class="list-inline-item"><i class="fab fa-less"></i></li>
        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
    </ul>
    <div class="subheading mb-3">Yetenekler</div>
    <ul class="fa-ul mb-0 col-6">
        @foreach (var item in Model)
        {
            if (item.Oran >= 0 && item.Oran <= 25)
            {
                renk = "progress-bar bg-danger";
                labelrenk = "#dc3545";
            }
            if (item.Oran >= 26 && item.Oran <= 50)
            {
                renk = "progress-bar bg-warning";
                labelrenk = "#ffc107";
            }
            if (item.Oran >= 51 && item.Oran <= 75)
            {
                renk = "progress-bar bg-info";
                labelrenk = "#17a2b8";
            }
            if (item.Oran >= 76 && item.Oran <= 100)
            {
                renk = "progress-bar bg-success";
                labelrenk = "#28a745";
            }

            <li class="mb-3">
                <span class="fa-li"><i class="fas fa-check"  style="color:@labelrenk "></i></span>
                <div class="mb-1">
                    @item.Yetenek
                    <small style="float:inline-end;"><b>@item.Oran%</b></small>
                </div>
                <div class="progress">
                    <div class="@renk" style="width:@item.Oran%"></div>
                </div>
            </li>
        }
    </ul>
</div>