@model List<MvcCv.Models.Entity.TblHobilerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3 style="text-align: center; font-weight: bold;">Hobiler  Sayfasi</h3>

<form method="post">
    @foreach (var x in Model)
    {
        <label>Aciklama 1</label>
        <textarea rows="5" class="form-control" name="Aciklama1">@x.Aciklama1</textarea>
        <br />
        <label>Aciklama 2</label>
        <textarea rows="5" class="form-control" name="Aciklama2">@x.Aciklama2</textarea>
    }
    <br />
    <button class="btn btn-outline-success"><i class="fas fa-save"></i> Kaydet</button>
</form>