@model MvcCv.Models.Entity.TblAdmin
@{
    ViewBag.Title = "AdminGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3 style="text-align: center; font-weight: bold;">Admin Guncelleme Sayfasi</h3>
<br />
<form method="post">

    @Html.Label("Kullanici Adi")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Sifre")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success"><i class="fa fa-save"></i> Kaydet</button>
</form>