@model List<MvcCv.Models.Entity.TblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hakkimda Menusu</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Adres</th>
            <th>Telefon</th>
            <th>Mail</th>
            <th>Hakkımda Açıklama</th>
            <th>Fotoğraf</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>