
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
</head>
<body>
    <div>
        Burasi Layout
    </div>
    <br />
    <div> 
        @RenderBody()
    </div>
    <br />
    <h1 style="color:#ff00dc">Merhaba Dunya</h1>
</body>
</html>
